In [1]:
import pandas as pd
import numpy as np
import gzip
import json

# Cleaning Brands data and converting to csv

In [2]:
brands = pd.read_json(
        'brands.json.gz',
        lines=True,
        compression='gzip'
    )

In [3]:
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [4]:
brands.dtypes
#type(brands['cpg'][1])

_id              object
barcode           int64
category         object
categoryCode     object
cpg              object
name             object
topBrand        float64
brandCode        object
dtype: object

In [5]:
brands['_id'] = brands['_id'].apply(pd.Series)

In [6]:
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [7]:
brands_normalised = pd.json_normalize(brands['cpg'])
brands_normalised = brands_normalised.add_prefix('cpg.')
brands_normalised

     cpg.$ref              cpg.$id.$oid
0        Cogs  601ac114be37ce2ead437550
1        Cogs  5332f5fbe4b03c9a25efd0ba
2        Cogs  601ac142be37ce2ead437559
3        Cogs  601ac142be37ce2ead437559
4        Cogs  5332fa12e4b03c9a25efd1e7
...       ...                       ...
1162     Cogs  5f77274dbe37ce6b592e90bf
1163     Cogs  53e10d6368abd3c7065097cc
1164     Cogs  5332fa12e4b03c9a25efd1e7
1165     Cogs  5332f5f6e4b03c9a25efd0b4
1166     Cogs  6026d757be37ce6369301467

[1167 rows x 2 columns]

In [8]:
brands_v1 = pd.merge(brands, brands_normalised, left_index=True, right_index=True, how='outer')

In [9]:
brands_v1.shape

(1167, 10)

In [10]:
brands_v1.dtypes

_id              object
barcode           int64
category         object
categoryCode     object
cpg              object
name             object
topBrand        float64
brandCode        object
cpg.$ref         object
cpg.$id.$oid     object
dtype: object

In [11]:
brands_v1.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7

In [12]:
brands_v1.to_csv('brands.csv')

# Cleaning Users data and converting to csv

In [13]:
users = pd.read_json(
        'users.json.gz',
        lines=True,
        compression='gzip'
    )
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [14]:
users['_id'] = users['_id'].apply(pd.Series)

In [15]:
users['createdDate'] = users['createdDate'].apply(pd.Series)

In [16]:
a = users['lastLogin'].apply(pd.Series)
a
users['lastLogin']= a['$date'].apply(pd.Series)

In [17]:
users['createdDate'] =(pd.to_datetime(users['createdDate'],unit='ms')) 
users['lastLogin'] =(pd.to_datetime(users['lastLogin'],unit='ms'))

In [18]:
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI

In [19]:
users.to_csv('users.csv')

# Cleaning Receipts data and converting to csv

In [20]:
receipts = pd.read_json(
        'receipts.json.gz',
        lines=True,
        compression='gzip'
    )
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [21]:
receipts.shape

(1119, 15)

In [22]:
receipts = receipts.explode('rewardsReceiptItemList')
receipts.reset_index(inplace=True)

In [23]:
import ast
receipts = receipts.fillna({'rewardsReceiptItemList':'{}'})
receipts['rewardsReceiptItemList'] = receipts['rewardsReceiptItemList'].apply(lambda x:str(x))
receipts['rewardsReceiptItemList'] = receipts['rewardsReceiptItemList'].apply(lambda x: ast.literal_eval(str(x)))

In [24]:
receipts_norm = pd.json_normalize(receipts['rewardsReceiptItemList'],errors='ignore',record_prefix='rewardsReceiptItemList').add_prefix('rewardsReceiptItemList.')

In [25]:
receipts_v1 = pd.merge(receipts, receipts_norm, left_index=True, right_index=True, how='outer')

In [26]:
#data check
#receipts_v1.iloc[2]
receipts_v1.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList.itemNumber,rewardsReceiptItemList.originalMetaBriteQuantityPurchased,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList.metabriteCampaignId
0,0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
receipts_v1['_id'] = receipts_v1['_id'].apply(pd.Series)

In [28]:
receipts_v1['createDate'] = receipts_v1['createDate'].apply(pd.Series)

In [29]:
receipts_v1['dateScanned'] = receipts_v1['dateScanned'].apply(pd.Series)

In [30]:
a = receipts_v1['finishedDate'].apply(pd.Series)
a
receipts_v1['finishedDate'] = a['$date'].apply(pd.Series)

In [31]:
receipts_v1['modifyDate'] = receipts_v1['modifyDate'].apply(pd.Series)

In [32]:
a = receipts_v1['pointsAwardedDate'].apply(pd.Series)
a
receipts_v1['pointsAwardedDate'] = a['$date'].apply(pd.Series)

In [33]:
a = receipts_v1['purchaseDate'].apply(pd.Series)
a
receipts_v1['purchaseDate'] = a['$date'].apply(pd.Series)

In [34]:
receipts_v1

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList.itemNumber,rewardsReceiptItemList.originalMetaBriteQuantityPurchased,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList.metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,NaN,1609687542000,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
receipts_v1['createDate'] =(pd.to_datetime(receipts_v1['createDate'],unit='ms')) 
receipts_v1['dateScanned'] =(pd.to_datetime(receipts_v1['dateScanned'],unit='ms')) 
receipts_v1['finishedDate'] =(pd.to_datetime(receipts_v1['finishedDate'],unit='ms')) 
receipts_v1['modifyDate'] =(pd.to_datetime(receipts_v1['modifyDate'],unit='ms'))
receipts_v1['pointsAwardedDate'] =(pd.to_datetime(receipts_v1['pointsAwardedDate'],unit='ms')) 
receipts_v1['purchaseDate'] =(pd.to_datetime(receipts_v1['purchaseDate'],unit='ms')) 
receipts_v1

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList.itemNumber,rewardsReceiptItemList.originalMetaBriteQuantityPurchased,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList.metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31.000,2021-01-03 15:25:31.000,2021-01-03 15:25:31,2021-01-03 15:25:36.000,2021-01-03 15:25:31,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43.000,2021-01-03 15:24:43.000,2021-01-03 15:24:43,2021-01-03 15:24:48.000,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43.000,2021-01-03 15:24:43.000,2021-01-03 15:24:43,2021-01-03 15:24:48.000,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37.000,2021-01-03 15:25:37.000,NaT,2021-01-03 15:25:42.000,NaT,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34.000,2021-01-03 15:25:34.000,2021-01-03 15:25:34,2021-01-03 15:25:39.000,2021-01-03 15:25:34,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7376,1115,603d0b710a720fde1000042a,NaN,NaN,2021-03-01 15:42:41.873,2021-03-01 15:42:41.873,NaT,2021-03-01 15:42:41.873,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7377,1116,603cf5290a720fde10000413,NaN,NaN,2021-03-01 14:07:37.664,2021-03-01 14:07:37.664,NaT,2021-03-01 14:07:37.664,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7378,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 13:07:28.000,2021-03-01 13:07:28.000,NaT,2021-03-01 13:07:29.000,NaT,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
7379,1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 13:07:28.000,2021-03-01 13:07:28.000,NaT,2021-03-01 13:07:29.000,NaT,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.99,NaN
7380,1118,603c4fea0a7217c72c000389,NaN,NaN,2021-03-01 02:22:34.962,2021-03-01 02:22:34.962,NaT,2021-03-01 02:22:34.962,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
receipts_v1.to_csv('receipts.csv')

# Identification of data issues

### Check for Null or Missing values

In [37]:
brands_v1.isna().sum()

_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
cpg.$ref          0
cpg.$id.$oid      0
dtype: int64

In [38]:
brands_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
 8   cpg.$ref      1167 non-null   object
 9   cpg.$id.$oid  1167 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 91.3+ KB

In [39]:
receipts_v1.isna().sum()

index                                                           0
_id                                                             0
bonusPointsEarned                                            1401
bonusPointsEarnedReason                                      1401
createDate                                                      0
dateScanned                                                     0
finishedDate                                                 1411
modifyDate                                                      0
pointsAwardedDate                                            1301
pointsEarned                                                 1128
purchaseDate                                                  458
purchasedItemCount                                            484
rewardsReceiptItemList                                          0
rewardsReceiptStatus                                            0
totalSpent                                                    435
userId                                                          0
rewardsReceiptItemList.barcode                               4291
rewardsReceiptItemList.description                            821
rewardsReceiptItemList.finalPrice                             614
rewardsReceiptItemList.itemPrice                              614
rewardsReceiptItemList.needsFetchReview                      6568
rewardsReceiptItemList.partnerItemId                          440
rewardsReceiptItemList.preventTargetGapPoints                7023
rewardsReceiptItemList.quantityPurchased                      614
rewardsReceiptItemList.userFlaggedBarcode                    7044
rewardsReceiptItemList.userFlaggedNewItem                    7058
rewardsReceiptItemList.userFlaggedPrice                      7082
rewardsReceiptItemList.userFlaggedQuantity                   7082
rewardsReceiptItemList.needsFetchReviewReason                7162
rewardsReceiptItemList.pointsNotAwardedReason                7041
rewardsReceiptItemList.pointsPayerId                         6114
rewardsReceiptItemList.rewardsGroup                          5650
rewardsReceiptItemList.rewardsProductPartnerId               5112
rewardsReceiptItemList.userFlaggedDescription                7176
rewardsReceiptItemList.originalMetaBriteBarcode              7310
rewardsReceiptItemList.originalMetaBriteDescription          7371
rewardsReceiptItemList.brandCode                             4781
rewardsReceiptItemList.competitorRewardsGroup                7106
rewardsReceiptItemList.discountedItemPrice                   1612
rewardsReceiptItemList.originalReceiptItemText               1621
rewardsReceiptItemList.itemNumber                            7228
rewardsReceiptItemList.originalMetaBriteQuantityPurchased    7366
rewardsReceiptItemList.pointsEarned                          6454
rewardsReceiptItemList.targetPrice                           7003
rewardsReceiptItemList.competitiveProduct                    6736
rewardsReceiptItemList.originalFinalPrice                    7372
rewardsReceiptItemList.originalMetaBriteItemPrice            7372
rewardsReceiptItemList.deleted                               7372
rewardsReceiptItemList.priceAfterCoupon                      6425
rewardsReceiptItemList.metabriteCampaignId                   6518
dtype: int64

In [40]:
receipts_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 50 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   index                                                      7381 non-null   int64
 1   _id                                                        7381 non-null   object
 2   bonusPointsEarned                                          5980 non-null   float64
 3   bonusPointsEarnedReason                                    5980 non-null   object
 4   createDate                                                 7381 non-null   datetime64[ns]
 5   dateScanned                                                7381 non-null   datetime64[ns]
 6   finishedDate                                               5970 non-null   datetime64[ns]
 7   modifyDate                                                 7381 non-null   datetime64[ns]
 8   pointsAwardedDate                                          6080 non-null   datetime64[ns]
 9   pointsEarned                                               6253 non-null   float64
 10  purchaseDate                                               6923 non-null   datetime64[ns]
 11  purchasedItemCount                                         6897 non-null   float64
 12  rewardsReceiptItemList                                     7381 non-null   object
 13  rewardsReceiptStatus                                       7381 non-null   object
 14  totalSpent                                                 6946 non-null   float64
 15  userId                                                     7381 non-null   object
 16  rewardsReceiptItemList.barcode                             3090 non-null   object
 17  rewardsReceiptItemList.description                         6560 non-null   object
 18  rewardsReceiptItemList.finalPrice                          6767 non-null   object
 19  rewardsReceiptItemList.itemPrice                           6767 non-null   object
 20  rewardsReceiptItemList.needsFetchReview                    813 non-null    object
 21  rewardsReceiptItemList.partnerItemId                       6941 non-null   object
 22  rewardsReceiptItemList.preventTargetGapPoints              358 non-null    object
 23  rewardsReceiptItemList.quantityPurchased                   6767 non-null   float64
 24  rewardsReceiptItemList.userFlaggedBarcode                  337 non-null    object
 25  rewardsReceiptItemList.userFlaggedNewItem                  323 non-null    object
 26  rewardsReceiptItemList.userFlaggedPrice                    299 non-null    object
 27  rewardsReceiptItemList.userFlaggedQuantity                 299 non-null    float64
 28  rewardsReceiptItemList.needsFetchReviewReason              219 non-null    object
 29  rewardsReceiptItemList.pointsNotAwardedReason              340 non-null    object
 30  rewardsReceiptItemList.pointsPayerId                       1267 non-null   object
 31  rewardsReceiptItemList.rewardsGroup                        1731 non-null   object
 32  rewardsReceiptItemList.rewardsProductPartnerId             2269 non-null   object
 33  rewardsReceiptItemList.userFlaggedDescription              205 non-null    object
 34  rewardsReceiptItemList.originalMetaBriteBarcode            71 non-null     object
 35  rewardsReceiptItemList.originalMetaBriteDescription        10 non-null     object
 36  rewardsReceiptItemList.brandCode                           2600 non-null   object
 37  rewardsReceiptItemList.competitorRewardsGroup              275 non-null    object
 38  rewardsReceiptItemList.discountedItemPrice                 5769 non-null   object
 39  rewardsReceiptItemList.originalReceiptItemText             5760 non-null   object
 40  rewardsReceiptItemList.itemNumber                          153 non-null    object
 41  rewardsReceiptItemList.originalMetaBriteQuantityPurchased  15 non-null     float64
 42  rewardsReceiptItemList.pointsEarned                        927 non-null    object
 43  rewardsReceiptItemList.targetPrice                         378 non-null    object
 44  rewardsReceiptItemList.competitiveProduct                  645 non-null    object
 45  rewardsReceiptItemList.originalFinalPrice                  9 non-null      object
 46  rewardsReceiptItemList.originalMetaBriteItemPrice          9 non-null      object
 47  rewardsReceiptItemList.deleted                             9 non-null      object
 48  rewardsReceiptItemList.priceAfterCoupon                    956 non-null    object
 49  rewardsReceiptItemList.metabriteCampaignId                 863 non-null    object
dtypes: datetime64[ns](6), float64(7), int64(1), object(36)
memory usage: 2.8+ MB

In [41]:
users.isna().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [42]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    datetime64[ns]
 3   lastLogin     433 non-null    datetime64[ns]
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 23.8+ KB

### Check for duplicate values

In [43]:
print(users.shape)
deduped_users = users.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
print(deduped_users.shape)

(495, 7)
(212, 7)

In [44]:
receipts_v1.drop('rewardsReceiptItemList', inplace=True, axis=1)
receipts_v1.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList.itemNumber,rewardsReceiptItemList.originalMetaBriteQuantityPurchased,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList.metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
print(receipts_v1.shape)
deduped_receipts = receipts_v1.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
print(deduped_receipts.shape)

(7381, 49)
(7381, 49)

In [46]:
brands_v1.drop('cpg', inplace=True, axis=1)
brands_v1.head()

,_id,barcode,category,categoryCode,name,topBrand,brandCode,cpg.$ref,cpg.$id.$oid
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7

In [47]:
print(brands_v1.shape)
deduped_brands = brands_v1.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
print(deduped_brands.shape)

(1167, 9)
(1167, 9)

#### From above we can see that the 'users' table has 283 duplicate values. The other tables do not have duplicates.

### Checking for time continuity in data

In [54]:
receipts_v1['month'] = pd.DatetimeIndex(receipts_v1['createDate']).month
receipts_v1['year'] = pd.DatetimeIndex(receipts_v1['createDate']).year
receipts_v1.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList.metabriteCampaignId,month,year
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2021

In [56]:
AGG = receipts_v1.groupby(['year','month'])['_id'].count()
print(AGG)

year  month
2020  10         16
      11         54
2021  1        6753
      2         515
      3          43
Name: _id, dtype: int64

In [59]:
users['month'] = pd.DatetimeIndex(users['createdDate']).month
users['year'] = pd.DatetimeIndex(users['createdDate']).year
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state,month,year
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,1,2021
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,1,2021
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,1,2021
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936,consumer,Email,WI,1,2021
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872,consumer,Email,WI,1,2021

In [60]:
AGG = users.groupby(['year','month'])['_id'].count()
print(AGG)

year  month
2014  12        20
2015  4          1
2017  7          1
      9         18
      12         8
2020  1          1
      7          1
      11        24
      12        20
2021  1        355
      2         46
Name: _id, dtype: int64